<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>longTitle</key>
		<string>Despairing, Ashamed, Fearful, Hopeless</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Angry, Resentful, Jealous, Depressed</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Rejected, Hurt, Discouraged, Deflated</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Doubtful, Disappointed, Worried, Anxious</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Frustrated, Overwhelmed, Confused, Embarrassed</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Neutral, Apathetic, Pessimistic, Distrustful</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Content, Peaceful, Calm</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Happy, Hopeful, Willing, Open</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Inspired, Confident, Trusting</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Passionate, Blissful, Delighted, Enthusiastic</string>
	</dict>
	<dict>
		<key>longTitle</key>
		<string>Joyful, Appreciative, Loving, Empowered</string>
	</dict>
</array>
</plist>
